SAFE/Service References/ServicioWeb/ServicioPaginaWeb3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59177/ServicioPaginaWeb.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BackSafe.Servicio" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BackSafe.Servicio" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BackSafe.Servicio" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearVisitaMedica">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecVisita" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idEmpresa" type="xs:decimal" />
        <xs:element minOccurs="0" name="idMedico" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearVisitaMedicaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="crearVisitaMedicaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rut" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contraseña" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerContratos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerContratosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="obtenerContratosResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerCursos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerCursosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="obtenerCursosResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerExamanes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAtencion" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerExamanesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="obtenerExamanesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerVisitaPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMedico" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerVisitaPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="obtenerVisitaPorIdResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerVisitaPorFecha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerVisitaPorFechaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="obtenerVisitaPorFechaResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearPlanCapacitacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="fechaPlan" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearPlanCapacitacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="crearPlanCapacitacionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearCapacitacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="descCapacitacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="minParticipantes" type="xs:decimal" />
        <xs:element minOccurs="0" name="nomExpositor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecInicial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecFinal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idPlanCapac" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearCapacitacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="crearCapacitacionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearEvaluacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecEval" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descEval" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoEvalId" type="xs:decimal" />
        <xs:element minOccurs="0" name="empresaId" type="xs:decimal" />
        <xs:element minOccurs="0" name="usuarioId" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearEvaluacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="crearEvaluacionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="retornarTipoEvaluacion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="retornarTipoEvaluacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="retornarTipoEvaluacionResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="retornarMedicos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="retornarMedicosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="retornarMedicosResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="retornarEmpresas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="retornarEmpresasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="retornarEmpresasResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="retornarEvaluacionesPorTecnico">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="retornarEvaluacionesPorTecnicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="retornarEvaluacionesPorTecnicoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="retornarEvaluacionesPorIngeniero">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="retornarEvaluacionesPorIngenieroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="retornarEvaluacionesPorIngenieroResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearInformeIngeniero">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recomendacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuarioId" type="xs:decimal" />
        <xs:element minOccurs="0" name="evalId" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearInformeIngenieroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="crearInformeIngenieroResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="retornarInformes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="retornarInformesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="retornarInformesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerTipoExamen">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerTipoExamenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="obtenerTipoExamenResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consulta">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="consultaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="consultaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearAtencion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="desc_atencion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_ficha" type="xs:decimal" />
        <xs:element minOccurs="0" name="id_visita_medica" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearAtencionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="crearAtencionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearExamen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="desc_examen" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="f_examen" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_tipo_examen" type="xs:decimal" />
        <xs:element minOccurs="0" name="id_atencion" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearExamenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="crearExamenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>