SAFE/Service References/ServicioBackSafe/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BackSafe.Entidad" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BackSafe.Entidad" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEntUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntUsuario" nillable="true" type="tns:EntUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntUsuario" nillable="true" type="tns:ArrayOfEntUsuario" />
  <xs:complexType name="EntUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="apmaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="appaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contraseña" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fecRegistro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idPerfil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rut" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntUsuario" nillable="true" type="tns:EntUsuario" />
</xs:schema>